#box1 {
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px;
    margin: 10px;
    border: dotted 1px grey;
    background: linear-gradient(#000117, #6066c0);
}

#box2 {
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px;
    margin: 10px;
    background-color: #000117;
    border: dotted 1px grey;
    opacity: 0.5;
}

#box2:hover{
    opacity: 1.0;
    transition-delay: 0s;
}

