.button {
  background: #e7e7e7;
  border: 1px solid;
  border-radius: 3px;
  font: 700 13px pristina;
  height: 30px;
  line-height: 28px;
  padding: 0 20px;
  text-align: center;
  margin-right: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
  display: inline;
}

a {
  text-align: center;
  color: #666;
  float: left;
  font-weight: bold;
}

a:hover {
  background: #dadada;
  color: #000;
}
