<!doctype html>
<html>
<head>

  <title> Layout 1 </title>
  <link rel="stylesheet" type="text/css" href="index.css">
  
</head>
<body>

  <div id="header"> CSS LAYOUTS </div>
  
  <div id="navbar">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Html</a></li>
      <li><a href="">stylesheet</a></li>
      <li><a href="">CSS Layout</a></li>
    </ul>
  </div>
  
  <div class="sideright">
    <h1> Sideright </h1> 
      <p> L1 - A paragraph is a series </p>
      <p> L2 - A paragraph is a series</p>
      <p> L3 - A paragraph is a series </p>
      <p> L4 - A paragraph is a series </p>
      <p> L5 - A paragraph is a series </p>
  </div>

  <div class="sideright">
    <h1> Sideright </h1> 
      <p> L1 - A paragraph is a series </p>
      <p> L2 - A paragraph is a series</p>
      <p> L3 - A paragraph is a series </p>
      <p> L4 - A paragraph is a series </p>
      <p> L5 - A paragraph is a series </p>
  </div>

  <div>
    <img class="imagesidebar" src="peacock.JPG">
  </div>

  <div class="main">
    <h1> Style sheet </h1> 
      <p> A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      </p>

    <h1> Style sheet </h1> 
      <p>A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      </p>

    <h1> Style sheet </h1> 
      <p> A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      </p>

    <h1> Style sheet </h1> 
      <p> A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
      </p>
  </div>
  
  <div id="footer">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Html</a></li>
      <li><a href="">stylesheet</a></li>
      <li><a href="">CSS Layout</a></li>
     </ul>
        @ all copy rights reserved
  </div>

</body>
</html>
